<section class="jotter-card">
  <p>{{ jotter?.createdAt | date : "dd MMM, yyyy" }}</p>
  <p>{{ jotter?.tag }}</p>
  <h1>{{ jotter?.title }}</h1>
  <p>{{ jotter?.content }}</p>

  <div class="cta-buttons">
    <button class="archive-btn" (click)="toggleArchive()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
          d="M19 3H5c-1.1 0-2 .9-2 2v14a2
            2 0 0 0 2 2h14a2 2 0 0 0
            2-2V5c0-1.1-.9-2-2-2zm0
            16H5V5h14v14zM8 9h8v2H8V9zm0
            4h5v2H8v-2z"
        />
      </svg>
      {{ jotter?.archived ? "Unarchive" : "Archive" }}
    </button>

    <button class="edit-btn" (click)="editJot(jotter!.id)">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
          d="M3 17.25V21h3.75L17.81 9.94
             l-3.75-3.75L3 17.25zM20.71
             7.04a1.003 1.003 0 0 0
             0-1.42l-2.34-2.34a1.003
             1.003 0 0 0-1.42
             0l-1.83 1.83 3.75 3.75
             1.84-1.82z"
        />
      </svg>
    </button>

    <button class="delete-btn" (click)="deleteJotter(jotter!.id)">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
          d="M6 19c0 1.1.9 2 2
             2h8c1.1 0 2-.9 2-2V7H6v12zM19
             4h-3.5l-1-1h-5l-1 1H5v2h14V4z"
        />
      </svg>
    </button>
  </div>
</section>
