/* You can add global styles to this file, and also import other style files */
.error-snackbar {
  background-color: red;
  color: white;
}

.success-snackbar {
  background-color: green;
  color: white;
}
